.paint-search {
    min-height: 70vh;
    text-align: center;
}

.search-input {
    padding: 9px;
    margin: 4px 0px;
    border: 0.5px lightgrey solid;
    border-radius: 5px;
    color: grey;
    text-align: center;
}

.paint-search-heading {
    margin: 20px 0px 5px 0px;
}

.filter {
    width: 100px;
    padding: 9px;
    margin: 4px 5px 10px 0;
    border: 0.5px lightgrey solid;
    border-radius: 5px;
    color: grey;
}

.filters-heading {
    margin: 5px 0;
    color: grey;
    font-weight: 300;
}

.reset-button {
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 800;
  }
