.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 5px;
    margin: 10px;
    min-width: 160px;
    max-width: 200px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    margin: 0;
    padding: 0;
}